html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
    word-break: break-word;
}

.main {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

.main__header {
    margin: 50px 10px 20px;
}